# Baby Names - Data Wrangling

**Goal: plot a timeline of name frequencies**

Data from: www.ssa.gov/oact/babynames/limits.html

In [ ]:
import os

import pandas as pd

In [ ]:
# read all Baby Name files
data = []
for fn in sorted(os.listdir("names")):
    if fn.startswith("yob"):
        df = pd.read_csv(f"names/{fn}", names=["name", "sex", "count"])
        df["year"] = fn[3:7]  # could use int(fn[3:7])
        data.append(df)

In [ ]:
len(data)  # number of files

In [ ]:
df = pd.concat(data, axis=0)  # concatenate vertically

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
# example: merge DFs of two years horizontall
a = pd.merge(left=data[0], right=data[1], on="name", how="inner")
a.shape

In [ ]:
a.head()

### Sort

In [ ]:
df.sort_values(by="name", ascending=False, inplace=True).head()

In [ ]:
df.sort_values(by=["name", "year"], ascending=[True, False]).head()

### Edit columns

In [ ]:
df["year_int"] = df["year"].astyape(int)

In [ ]:
pd.to_datetime(["2025-01-02 11:00"]) # or "January 2nd, 2025",

In [ ]:
df["year_ts"] = pd.to_datetime(df["year"])

In [ ]:
def square(x):
    return x ** 2

In [ ]:
df["square"] = df["year_int"].apply(square)  # <-- function pointer, cool isn't it

In [ ]:
df.head()

### Plot a timeline

In [ ]:
df.query("name == 'Zzyzx'")

In [ ]:
df.sort_values(by="year_ts", inplace=True)

In [ ]:
name = df[df["name"] == "Ronaldo"].set_index("year_ts")
name = name[name["sex"] == "M"]
name["count"].plot()